In [ ]:
import pandas as pd
df =pd.read_csv('全台火車進出站資訊.csv')
df

In [6]:
df1 = df.groupby(by=['縣市','年度','站名'])[['進站人數','出站人數']].max()
df1

               進站人數   出站人數
縣市  年度   站名
南投縣 2019 水里     865   1111
         濁水     497    431
         車埕    2854   2977
         集集    2093   2450
         龍泉      76    303
...             ...    ...
高雄市 2023 美術館   2477   2890
         路竹    2101   2126
         高雄   21903  21915
         鳳山    8076   8057
         鼓山     958   1055

[1198 rows x 2 columns]

In [ ]:
df1.columns.name = '人數'
s1 = df1.stack(level='人數')
s1.unstack(level=['人數','年度'])

In [ ]:
df2 = df.groupby(by=['縣市','年月','站名'])[['進站人數','出站人數']].max()
df2