In [7]:
#groupby,群組相同值的資料,並使用統計運算
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

  key1 key2     data1     data2
0    a  one  1.795157  0.568748
1    a  two  1.325797  1.030270
2    b  one -0.718432 -0.292862
3    b  two -0.871015 -1.307930
4    a  one -0.506031  1.316394

In [8]:
gp1 = df['data1'].groupby(by=['x','x','y','y','x'])
gp1.sum()

x    2.614923
y   -1.589447
Name: data1, dtype: float64

In [9]:
df['data1'].groupby(df['key1']).sum()

key1
a    2.614923
b   -1.589447
Name: data1, dtype: float64

In [12]:
df2 = df['data1'].groupby([df['key1'],df['key2']]).sum()
df2.unstack(level='key2')

key2       one       two
key1
a     1.289126  1.325797
b    -0.718432 -0.871015

In [14]:
#dataFrame的Groupby
df.groupby(by=['key1','key2']).sum()

              data1     data2
key1 key2
a    one   1.289126  1.885142
     two   1.325797  1.030270
b    one  -0.718432 -0.292862
     two  -0.871015 -1.307930

In [16]:
#透過dataFrame的groupby,取出SerialGroupby
df3 = df.groupby(by=['key1','key2'])['data1'].sum()
df3.unstack(level='key2')

key2       one       two
key1
a     1.289126  1.325797
b    -0.718432 -0.871015