In [7]:

import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
df1 = pd.DataFrame(scores,
                   columns=['國文','英文','數學','地理','歷史'],
                   index = range(1,51))
df1

     國文   英文  數學  地理   歷史
1    80   84  81  86   52
2    75   61  74  98   86
3    79   89  83  89   92
4    89   77  92  84   64
5    82   68  70  84   68
6    77  100  92  76   77
7   100   63  82  66   56
8    75   84  87  67   59
9    76   50  75  61   72
10   75   73  66  92  100
11  100   98  50  69   53
12   52   98  50  68   92
13   56   95  82  52   59
14   89   87  62  58   76
15   65   82  51  62   71
16   54   96  81  87   62
17   60   80  82  83   99
18   93   53  50  57   58
19   70   69  65  63   55
20   60   76  63  96   62
21   75   96  91  59   83
22   77   55  59  66   99
23   76   74  94  93   66
24   66   97  54  80   63
25   90   71  97  53   56
26   93   76  53  96   90
27   87   79  74  94   93
28   73   74  88  61   56
29   50   58  98  62   69
30   87   90  92  83   68
31   96  100  93  72   51
32   74   54  96  60   74
33   98   72  78  77   87
34   71   58  95  97   84
35   88   71  85  95   61
36   70   67  79  88   68
37   59   68  64  71   75
38  100   63  59  74   65
39   72   67  81  90   64
40   76   64  95  73  100
41   51   50  92  58   89
42   74   71  61  92   71
43   74   69  53  69   76
44   92   72  90  98   76
45   64   58  80  79   75
46   56   67  90  75   90
47   88   82  74  79   77
48   59   79  73  63   70
49   90   82  63  69   83
50   85   78  96  87   99

In [8]:
df1.index.name = '學號'
df1.columns.name = "科目"

In [9]:
df1.loc[1].sum()

np.int64(383)

In [10]:
sum = df1.sum(axis=1)
average = sum / 5
average

學號
1     76.6
2     78.8
3     86.4
4     81.2
5     74.4
6     84.4
7     73.4
8     74.4
9     66.8
10    81.2
11    74.0
12    72.0
13    68.8
14    74.4
15    66.2
16    76.0
17    80.8
18    62.2
19    64.4
20    71.4
21    80.8
22    71.2
23    80.6
24    72.0
25    73.4
26    81.6
27    85.4
28    70.4
29    67.4
30    84.0
31    82.4
32    71.6
33    82.4
34    81.0
35    80.0
36    74.4
37    67.4
38    72.2
39    74.8
40    81.6
41    68.0
42    73.8
43    68.2
44    85.6
45    71.2
46    75.6
47    80.0
48    68.8
49    77.4
50    89.0
dtype: float64

In [ ]:
df1['總分'] = sum
df1['平均'] = average
df1

In [ ]:
english_series = df1 ['英文'] < 60
df1[english_series]

科目  國文  英文  數學  地理  歷史   總分    平均
學號
9   76  50  75  61  72  334  66.8
18  93  53  50  57  58  311  62.2
22  77  55  59  66  99  356  71.2
29  50  58  98  62  69  337  67.4
32  74  54  96  60  74  358  71.6
34  71  58  95  97  84  405  81.0
41  51  50  92  58  89  340  68.0
45  64  58  80  79  75  356  71.2

In [1]:
import random 
import pandas as pd

class BMI(): 
    def __init__(self,name:str,height:int,weight:int): 
        self.name = name
        self.height = height
        self.weight = weight

    def get_bmi(self)->float: #取得bmi
        return round(self.weight / (self.height/100) ** 2,ndigits=2)
    
    def get_status(self)->str:  #取得status
        bmi = self.get_bmi()
        if bmi >=35:
            status = "重度肥胖"
        elif bmi >= 30:
            status = "中度肥胖"
        elif bmi >= 27:
            status = "輕度肥胖"
        elif bmi >= 24:
            status = "過重"
        elif bmi >= 18.5:
            status = "正常範圍"
        else:
            status = "體重過輕"
        return status
    
def get_name(nums:int=2)->list[str]: #抓取name.txt裡面的名字
    with open('names.txt',mode='r',encoding='utf-8') as file:
            names_str = file.read()
    names = names_str.split()
    names = random.choices(names,k=nums)
    return  names

def generate_bmi(names:list[str])->list[BMI]: 
    students:list[BMI] = []
    for name in names:
        height = random.randint(140,190)
        weight = random.randint(50,110)
        student_STATUS = BMI(name, height, weight)
        students.append(student_STATUS) #list實體化 
    return students

if __name__ == '__main__':
    nums = int(input('請輸入人數:'))
    names:list[str] = get_name(nums=nums)
    students:list[BMI] = generate_bmi(names=names)
    file_dict:list[dict] = []

    for student in students:
        student_dict = {
        "姓名":student.name,
        "身高":student.height,
        "體重":student.weight,
        "BMI":student.get_bmi(),
        "狀態":student.get_status()
        }
        file_dict.append(student_dict)

    DataFrame = pd.DataFrame(file_dict, 
                       columns=['姓名', '身高', '體重', 'BMI', '狀態'],
                       index= range(1,nums+1))

    DataFrame.columns.name = '學號'
    print(DataFrame)

學號   姓名   身高  體重    BMI    狀態
1   彭茹靖  153  62  26.49    過重
2   陳淑萍  173  75  25.06    過重
3   呂傑宣  170  98  33.91  中度肥胖
4   陳奇瑄  187  94  26.88    過重
5   蕭淑華  180  56  17.28  體重過輕